@import './../core.scss';
@import './../mixins.scss';

.block {
  text-align: center;
  
  .title {
    @include title;
  }

  .description {
    font-size: toRem(14);
    line-height: 2;
    color: $grey;
    max-width: toRem(440);
    margin: toRem(20) auto 0;
  }

  .fields {
    width: toRem(360);
    display: grid;
    grid-row-gap: toRem(10);
    margin-left: toRem(20);
    position: relative;
    z-index: 1;
  }

  .newpass {
    justify-self: left;
    font-size: toRem(12);
    border: 0;
    background: rgba($blue--grey, 0.5);
    padding: 10px 20px;
    width: auto;
    text-align: left;
    color: white;
  }
  
  .success {
    position: relative;
    font-size: toRem(12);
    color: $green;
  }

  .head {
    margin: toRem(40) 0;
  }

  .displayName {
    margin: 0;
    color: $blue--grey;
    font-size: toRem(26);
  }

  .role {
    margin: 0;
    color: $primary;
    font-size: toRem(16);
  }

  .smallButton {
    background: none;
    border: 0;
    font-size: toRem(12);
    color: $grey--light;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}