$primary: #08a1b7;
$blue--light: #F1FDFF;
$blue--grey: #41515F;
$grey--light: #9eb0c0;
$grey: #4A4A4A;
$green: #A3AF14;
$red: #af1414;

$fontTitle: 'Nanum Myeongjo', serif;
$font: 'Open Sans', serif;

::export{

}