@use 'sass:math';

@function toRem($value) {
    @if getUnit($value) == pt {
        @return $value;
    }
    @return calc($value / 16) + rem;
}

@mixin shadow {
  box-shadow: 0 0px 15px 0 rgba(0,0,0,0.15);
}

// MAX
@mixin mobile {
  @media(max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media(max-width: $tablet) {
    @content;
  }
}
@mixin smallDesk {
  @media(max-width: $smallDesk) {
    @content;
  }
}

// MIN
@mixin minMobile {
  $val: $mobile + 1px;
  @debug $val;
  @media(min-width: $val) {
    @content;
  }
}

@mixin minTablet {
  $val: $tablet + 1px;
  @debug $val;
  @media(min-width: $val) {
    @content;
  }
}

@mixin container {
  max-width: calc(10 / 12 * 100%);
  margin-left: calc(1 / 12 * 100%);
}

//
@mixin title {
  margin: 0;
  font-family: $fontTitle;
  font-size: toRem(62);
  color: $blue--grey;
}