@import 'styles/core.scss';
@import 'styles/mixins.scss';

.block {
  .container {
    padding: toRem(100) 0 toRem(60);

    @include container;
  }

  .headerRight {
    position: fixed;
    top: toRem(40);
    right: toRem(40);
    display: flex;
    align-items: center;
  }

  .addButton {
    position: fixed;
    bottom: toRem(40);
    right: toRem(40);
    border: 0;
    background: white;
    border-radius: 50%;
    font-size: toRem(42);
    width: toRem(90);
    height: toRem(90);
    padding: 0;
    cursor: pointer;
    transition: all .3s ease;
    color: $blue--grey;
    z-index: 10;
    @include shadow;

    &:hover {
      color: $primary;
      transform: scale(1.1);
    }
  }

  .logout {
    position: relative;
    border: 0;
    background: none;
    padding: 0;
    color: $red;
    font-size: toRem(22);
    margin-left: toRem(10);
    cursor: pointer;

    svg {
      vertical-align: middle;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%) translateY(10px);
      white-space: nowrap;
      font-size: toRem(12);
      background: white;
      padding: toRem(5) toRem(10);
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s, transform .3s, visibility 0s .3s;
      @include shadow;
    }

    &:hover {
      span {
        transition: opacity .3s, transform .3s, visibility 0s 0s;
        visibility: visible;
        transform: translate(-50%, 100%);
        opacity: 1;
      }
    }
  }
}