@import 'styles/mixins.scss';
@import 'styles/core.scss';

.block {
  display: flex;

  &.end {
    justify-content: flex-end;
  }

  &.middle {
    justify-content: center;
  }

  .button {
    position: relative;
    font-size: toRem(12);
    font-family: $font;
    border-radius: 0;
    padding: toRem(10) toRem(10);
    background: $blue--grey;
    color: white;
    border: 0;
  }
}