@import 'styles/mixins.scss';
@import 'styles/core.scss';

.block {
  input {
    width: 100%;
    border-radius: 0;
    border: 1px solid $blue--grey;
    height: toRem(40);
    background: white;
    padding: 0px toRem(20);
  }
}